@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: rgb(107 114 128);
  background-color: rgb(55 65 81);
}

.gradient-background {
  background: linear-gradient(90deg,
      /* Direction of the gradient */
      #53ff50 0%,
      /* Step 1 - Coral */
      #ff4a47 20%,
      /* Step 2 - Tomato */
      #ea00ff 40%,
      /* Step 3 - Orange Red */
      #9914dc 60%,
      /* Step 4 - Crimson */
      #09008b 80%
      /* Step 5 - Dark Red */
    );
}